@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";



/* @custom-variant dark (&:is(.dark *)); */


body {
  background-color: rgb(226, 225, 220);
  font-family: 'Tinos, serif';
  letter-spacing: 2px;
  
}

footer {
  background-color: black;
}


